/***************************
    GENERAL SETTINGS       *
***************************/
// font family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
}
// comun settings
@mixin reset-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
@mixin btn($color) {
    border: 1px solid $hover-color;
    border-radius: 7px;
    padding: 10px;
    background: $color;
}
// titles and p
$title: ('h1': 50px, 'h2': 26px, 'h3': 22px, 'p': 22px);
@each $name, $size in $title {
    #{$name}  {
        font-size: $size;
        color: $principal-color;
    }
}
// botton
@for $i from 1 through 2 {
    .principal-btn-#{$i} {
        @include btn($btn-color);
        cursor: pointer;
        color: #fff;
        &:hover {
            background: $btn-hover-color;
        }
    }
    span img{
        display: inline-block;
        vertical-align: middle;
        height: 19px;
        padding-right: 5px;
    }
}
