footer {
    display: flex;
    .footer-left {
        display: flex;
    }
        p {
            font-size: $size-medium;
        }
            a {
                text-decoration: none;
                color: $secondary-color;
            }
}
.footer-right {
    display: flex;
    //flex-wrap: wrap; //media
    .title{
        font-size: $size-medium;
        font-weight: 600;
        margin-bottom: 15px;
    }
    li {
        @include reset-list;
        font-size: $size-small;
        color: $principal-color;
        padding-bottom: 15px;
    }
}

/******************************
    MEDIA QUERY               *
******************************/

// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) {
    footer {
        flex-direction: column;
        .footer-left {
            flex-direction: column;
            img {
                height: 60px;
            }
            p {
                text-align: center;
            }
        }
    }
}

// Large devices (desktops, 992px and up, e.g. iPad Landscape) 
@media (min-width: 992px) {
    footer {
        flex-direction: row;
        margin: $set-margin;
        padding-top: $set-padding-footer;
    }
    .footer-left {
        flex-direction: row;
        display: flex;
        width: 30%;
    }
}