.jumbotron {
    display: flex;
    align-items: center;
    margin: $set-margin;
    height: 655px;
    max-height: 100%;
}
.left-jumb {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    max-width: calc(100%/2);
    h2 {
        font-weight: 400;
    }
}
.double-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 70px 30px 10px;
}
.personal-adress {
    font-size: $size-small;
    color: $principal-color;
    cursor: pointer;
    &:hover {
        color: $hover-color;
    }
}
.right-jumb {
    max-width: calc(100%/2);
    padding-top: 100px;
    img {
        max-height: 350px;
    }
}