/************************
    VARIABLES           *
************************/
// color
$principal-color: #58402c;
$secondary-color: #30488f;
$hover-color: #30488f;
$background-pink: #ffe7d2;
// font
$size-large: 26px;
$size-large-medium: 22px;
$size-medium: 18px;
$size-small: 14px;
// settings
$set-margin: 0 345px;
$set-border-bottom: 1px solid $principal-color;